html {
  background-color: black;
  font-family: Verdana;
  text-align: center;
}
h1 {
  font-size: 50px;
  color: white;
  font-weight: normal;
}
h2 {
  font-weight: 300;
  font-size: 42px;
  color: white;
}

a {
  color: pink;
  font-size: 16px;
  font-weight: normal;
}

video {
  align-items: center;
}

img {
  align-items: center;
}
#copyright {
  text-align: right;
  color: grey;
  font-weight: normal;
}
